.Reset button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 150px;
  height: 60px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 700;
  color: aquamarine;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #040134;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}
